<!DOCTYPE html>
{% load static %}

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>shift.</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  </head>

<style>
  body{
    background: url( "{% static '/bg.jpeg' %}");
    /* background-size: 1250px; */
    background-size: 1450px;
  }
</style>
  <body>
    <div class="container-fluid">

      <div class = 'row justify-content-center mt-5'>
        <div class="card bg-light shadow p-3 mb-5 mt-5 rounded" style="width: 30rem;">
          <div class="card-body">
          <!-- <div class="card-header"> -->
            <div class = 'card-title pb-2' id="card_title">
              <h5>Launch your targeted airdrop!</h5>
              <label for = 'card_title'>
                Using our airdrop service allows you to airdrop an NFT to a group of our members. Based on your NFT information, we will automatically find the people who we think will be most excited about your vision and airdrop them a token! We will create a smart contract to execute the drop and then show you the address.
              </label>
            </div>

          <!-- </div> -->
             <form  method="post">
              {% csrf_token %}

              <div class="form-group">
                <label for = 'pass'>Reach (number of members who will receive an NFT)</label>
                <input class = 'form-control' type = 'number' id = 'pass' name = 'pass'required />
              </div>

              <div class="form-group">
                <label for = 'goon'>IPFS link for NFT metadata</label>
                <input class = 'form-control' type = 'text' id = 'goon' name = 'goon'required />
              </div>

              <!-- <div class="form-group">
                <label for = 'bald'>Project Description</label>
                <input class = 'form-control' type = 'text' id = 'bald' name = 'bald'required />
              </div> -->
              <!-- <div class="form-group">
                <label for="exampleFormControlTextarea1">Project Description</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
              </div> -->



              <!-- <div class="form-group">
                <label for = 'maricon'>Estimated Gas Fees</label>
                <input class = 'form-control' type = 'text' id = 'maricon' name = 'maricon'required />
              </div> -->
              <!-- Button -->
              <button type="submit" class="btn btn-primary btn-block mt-4">Launch!</button>

            </form>
          </div>

        </div>
      </div>
    </div>
  <body>
</html>
